<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <title>异云流量</title>
        <meta itemprop="name" content="异云" />
        <meta name="description" itemprop="description"  content="异云(xtype.cn)，用一种特殊的方式上网！" />
        <meta name="apple-mobile-web-app-title" content="异云管理">
        <meta name="author" contect="xtype, 792598794@qq.com" />
        <link rel="apple-touch-icon-precomposed" href="/static/img/logo.png" />
        <link rel="apple-touch-startup-image" href="/static/img/start.png" />
        <link rel="stylesheet" href="/static/css/frozen.css">
        <script src="/static/lib/zepto.min.js"></script>
        <script src="/static/js/frozen.js"></script>

    </head>
    
    <body ontouchstart>
        <header class="ui-header ui-header-positive ui-border-b">
            <i class="ui-icon-return" onclick="history.back()"></i>
            <h1>添加服务器</h1>
        </header>
        <section class="ui-container">

            <div class="ui-form ui-border-t" style="margin-top:20px;">

                <div class="ui-form-item ui-form-item-show ui-border-b">
                    <label>服务器</label>
                    <input id="title" type="text" value="" placeholder="轻击以输入">
                </div>

                <div class="ui-form-item ui-form-item-show ui-border-b">
                    <label>IP</label>
                    <input id="ip" type="text" value="" placeholder="轻击以输入">
                </div>

            </div>

            <div class="ui-form-item ui-border-b" style="background-color: white">
                <label>类型</label>
                <div class="ui-select">
                    <select id="type">
                        <option value="1">时限</option>
                        <option value="0">量限</option>
                        <option value="2">免费</option>
                        <option value="3">传统</option>
                    </select>
                </div>
            </div>

            <p style="margin-top:10px;margin-bottom:5px;margin-left:10px;" class="ui-txt-tips ui-txt-info">时限：只判断用户有没有过期。可以叠加。<br />量限：只判断用户流量是否小于零。可以叠加。<br />免费：只判断用户是否激活。<br />传统：要判断用户时间和流量，选择此选项必须在网站设置中打开传统模式。到期前3天可以叠加，到期后充值将会清零。<br /><span class="ui-txt-warning">传统模式和离散（时限、量限）只能选择其中一种。</span></p>

            <div class="ui-btn-wrap">
                <button class="ui-btn-lg ui-btn-primary" id="add">
                    添加
                </button>
            </div>

        </section>
        <script type="text/javascript">
        $('#add').click(function() {
            $.ajax({
                url: '{:url('admin/server/addTapped')}' ,
                type: 'GET' ,
                dataType: 'json' ,
                data: { 'type': $('#type').val() ,'title':$('#title').val() ,'ip':$('#ip').val() },
    
                success:function(res) {
                    if( res.code == 1){
                        s = $.tips({
                            content:res.msg,
                            stayTime:2000,
                            type:"success"
                        });
                    } else {
                         e = $.tips({
                            content:res.msg,
                            stayTime:2000,
                            type:"warn"
                        });
                    }
                },
                error:function(msg) {
                    e = $.tips({
                        content:'加载出错',
                        stayTime:2000,
                        type:"warn"
                    });
                },
            })
        });

        $('.ui-list li,.ui-tiled li').click(function(){
            if($(this).data('href')){
                location.href= $(this).data('href');
            }
        });
    </script>
    </body>
</html>