<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <title>异云流量</title>
        <meta itemprop="name" content="异云" />
        <meta name="description" itemprop="description"  content="异云(xtype.cn)，用一种特殊的方式上网！" />
        <meta name="apple-mobile-web-app-title" content="异云">
        <meta name="author" contect="xtype, 792598794@qq.com" />
        <link rel="apple-touch-icon-precomposed" href="/static/img/logo.png" />
        <link rel="apple-touch-startup-image" href="/static/img/start.png">

        <link rel="stylesheet" href="/static/css/frozen.css">
        <script src="/static/lib/zepto.min.js"></script>
        <script src="/static/js/frozen.js"></script>

        <style type="text/css">
            #url {
                margin-top: 20px;
                text-align: center;
            }
            .ui-avatar-one {
                background-image: url(/static/img/logo.png);
            }
            .ui-panel-card, .ui-panel-simple {
                background-color: rgba(0,0,0,0);
            }
        </style>
    </head>
    
    <body ontouchstart>
        <header class="ui-header ui-header-positive ui-border-b">
            <h1>异云</h1>
        </header>
        <section class="ui-panel-simple" style="padding-top: 10px; padding-bottom: 10px;margin-top:6.1%;">
            <ul class="ui-tiled"><li><div>
                    <div class="ui-avatar-one">
                        <span></span>
                    </div>
            </div></li></ul>
        </section>
        <section class="ui-container" style="margin-top:6.1%;">
            <div class="ui-form ui-border-t">
                <div class="ui-form-item ui-form-item-show ui-border-b">
                    <label for="#">用户名</label>
                    <input id="u" type="text" value="" placeholder="轻点以编辑">
                </div>
                <div class="ui-form-item ui-form-item-show ui-border-b">
                    <label for="#">密码</label>
                    <input id="p" type="password" value="" placeholder="轻点以编辑">
                </div>
            </div>

            <div class="ui-btn-wrap">
                <button class="ui-btn-lg ui-btn-primary" id="login">
                    登录
                </button>
            </div>

            <ul class="ui-list ui-list-text ui-list-link ui-border-tb ui-list-active" style="margin-top:20px;">
                <li data-href="{:url('index/connect/reg')}">
                    <h4 class="ui-nowrap ui-txt-feeds">立即注册</h4>
                    <div class="ui-txt-info">赠送{:round($config.free*1024)}MB</div>
                </li>
            </ul>

            <div id="url">
            100Mbps带宽开启真实4G网速
            </div>

            <div id="url">
                <a href="{:url('index/index/help')}">使用说明</a>
            </div>

            <div id="url">
                <a href="{:url('index/connect/provisions')}">服务声明</a>
            </div>

        </section>
        <div class="ui-loading-block">
            <div class="ui-loading-cnt">
                <i class="ui-loading-bright"></i>
                <p>正在验证...</p>
            </div>
        </div>
    </body>
    <script>
        $('.ui-list li,.ui-tiled li').click(function(){
            if($(this).data('href')){
                location.href= $(this).data('href');
            }
        });
    </script>
        
    <script type="text/javascript">
        $(function(){
            document.onkeydown = function(e){ 
                var ev = document.all ? window.event : e;
                if(ev.keyCode==13) {
                    $('#login').click();

                }
            }
        });
        $('#login').click(function() {
            $.ajax({
                url: '{:url('index/connect/deal')}' ,
                type: 'GET' ,
                dataType: 'json' ,
                data: { 'u': $('#u').val() , 'p' : $('#p').val() , 'type' : 'login'},
                
                beforeSend:function(){
                    $('.ui-loading-block').addClass('show');
                },
                success:function(res) {
                    if( res.code == 1){
                        $('.ui-btn-primary').attr('disabled','');
                        location.href= res.url;
                    } else {
                         e = $.tips({
                            content:res.msg,
                            stayTime:2000,
                            type:"warn"
                        });
                    }

                    $('.ui-loading-block').removeClass('show');
                },
                error:function(msg) {
                    $('.ui-loading-block').removeClass('show');

                    e = $.tips({
                        content:'加载出错',
                        stayTime:2000,
                        type:"warn"
                    });
                },
            })
        });
    </script>
</html>