<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <title>异云流量</title>
        <meta itemprop="name" content="异云" />
        <meta name="description" itemprop="description"  content="异云(xtype.cn)，用一种特殊的方式上网！" />
        <meta name="apple-mobile-web-app-title" content="异云">
        <meta name="author" contect="xtype, 792598794@qq.com" />
        <link rel="apple-touch-icon-precomposed" href="/static/img/logo.png" />
        <link rel="apple-touch-startup-image" href="/static/img/start.png">
        
        <link rel="stylesheet" href="/static/css/frozen.css">
        <script src="/static/lib/zepto.min.js"></script>
        <script src="/static/js/frozen.js"></script>
    </head>
    
    <body ontouchstart>
        <header class="ui-header ui-header-positive ui-border-b">
            <i class="ui-icon-return" onclick="history.back()"></i>
            <h1>使用前必读</h1>
        </header>
        <section class="ui-container">
            <div class="ui-flex ui-flex-pack-center ui-txt-info" style="margin-top:15px;">
                <div>当前版本 Public 2.0.0</div>
            </div>

            <div class="ui-flex ui-flex-pack-start ui-txt-feeds" style="margin-top:20px;">
                <p> 1.隐私条款</p>
            </div>

            <div class="ui-flex ui-flex-pack-center ui-txt-tips" style="margin-top:15px;">
                <p style="text-indent:2em;">本系统重视您的个人隐私和您存储在我们的服务中的内容。本隐私条款解释及其关联公司会收集关于的您的那些信息及其原因，以及我们会如何使用这些信息以及如何处理的您的内容。没有您的需要，我们不会公开您的信息。</p>
            </div>

            <div class="ui-flex ui-flex-pack-start ui-txt-feeds" style="margin-top:20px;">
                <p> 2.产品概要</p>
            </div>

            <div class="ui-flex ui-flex-pack-center ui-txt-tips" style="margin-top:15px;">
                <p style="text-indent:2em;">本产品主要以优质的、全自动的系统为广大用户提供VPN连接服务，让用户不管在什么地方都能享受时延较低的网络服务。</p>
            </div>

            <div class="ui-flex ui-flex-pack-start ui-txt-feeds" style="margin-top:20px;">
                <p> 3.产品声明</p>
            </div>

            <div class="ui-flex ui-flex-pack-center ui-txt-tips" style="margin-top:15px;">
                <p style="text-indent:2em;">本产品遵循中国法律，也恳请用户尊重中国法律，合理使用本产品。</p>
            </div>

            <div class="ui-flex ui-flex-pack-center ui-txt-tips" style="margin-top:15px;">
                <p style="text-indent:2em;">未经开发者书面许可，不得以任何方式或理由对上述产品、服务、信息、材料的任何部分进行使用、复制、修改、传播或其他产品使用与销售。</p>
            </div>

            <div class="ui-flex ui-flex-pack-center ui-txt-tips" style="margin-top:15px;">
                <p style="text-indent:2em;">因不可抗力因素使产品终止，我们将有业务的最终决定权。</p>
            </div>

            <div class="ui-flex ui-flex-pack-center ui-txt-info" style="margin-top:20px;">
                <div>一直用心在做</div>
            </div>

        </section>
    </body>

</html>