<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>全国免流VPN服务</title>
        <link rel="stylesheet" href="/static/css/frozen.css">
        <script src="/static/lib/zepto.min.js"></script>
        <script src="/static/js/frozen.js"></script>
    </head>

    <body ontouchstart>
        <header class="ui-header ui-header-stable ui-border-b">
            <i class="ui-icon-return" onclick="history.back()"></i>
            <h1>联系客服</h1>
        </header>
        
        <section class="ui-container">
            <ul class="ui-list ui-list-text ui-border-tb ui-list-link ui-list-active" style="margin-top:20px;">
                <li class="ui-border-t" data-href="mailto:{$config.email}">
                    <h4 class="ui-nowrap ui-txt-feeds">客服邮件</h4>
                    <div class="ui-txt-info" style="-webkit-user-select: text;">{$config.email}</div>
                </li>
            </ul>

            <ul class="ui-list ui-list-text ui-border-tb ui-list-link ui-list-active" style="margin-top:20px;">
                <li class="ui-border-t" data-href="http://wpa.qq.com/msgrd?v=3&uin={$config.qq}&site=qq&menu=yes">
                    <h4 class="ui-nowrap ui-txt-feeds">客服QQ</h4>
                    <div class="ui-txt-info" style="-webkit-user-select: text;">{$config.qq}</div>
                </li>
            </ul>

            <ul class="ui-list ui-list-text ui-border-tb ui-list-link ui-list-active" style="margin-top:20px;">
                <li class="ui-border-t" data-href="http://qm.qq.com/cgi-bin/qm/qr?k={$config.qun_key}">
                    <h4 class="ui-nowrap ui-txt-feeds">交流QQ群</h4>
                    <div class="ui-txt-info" style="-webkit-user-select: text;">{$config.qun_number}</div>
                </li>
            </ul>
        </section>

    </body>

    <script>
        $('.ui-list li,.ui-tiled li').click(function(){
            if($(this).data('href')){
                location.href= $(this).data('href');
            }
        });
    </script>
</html>