<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>全国免流VPN服务</title>
        <link rel="stylesheet" href="/static/css/frozen.css">
        <script src="/static/lib/zepto.min.js"></script>
        <script src="/static/js/frozen.js"></script>

        <style type="text/css">
            .ui-footer {
                bottom: 0;
                height: 44px;
            }
        </style>
    </head>
    
    <body ontouchstart>
        <header class="ui-header ui-header-stable ui-border-b">
            <i class="ui-icon-return" onclick="history.back()"></i>
            <h1>邮箱</h1>
        </header>
        <section class="ui-container" style="margin-top:12.2%;">
            <div class="ui-form ui-border-t">
                <div class="ui-form-item ui-form-item-show ui-border-b">
                    <label for="#">用户名</label>
                    <input id="u" type="text" value="{$data.username}" readonly>
                </div>

                <div class="ui-form-item ui-form-item-show ui-border-b">
                    <label for="#">邮箱</label>
                    <input id="e" type="text" placeholder="QQ号@qq.com" value="{$data.email}" {if condition="$data.active == 1"}readonly{/if}>
                </div>
            </div>
            {if condition="$data.active == 0"}
            <p style="margin-top:10px;margin-bottom:5px;margin-left:10px;" class="ui-txt-tips ui-txt-info">点击发送激活邮件后，请打开你的邮箱，点击激活连接即可激活！<span class="ui-txt-warning">激活邮件可能在垃圾箱里面!请注意查看！</span>如果迟迟未收到激活信息，请检查你的邮箱账号是否填写正确！</p>
            {else /}
            <div class="ui-tips ui-tips-success">
                <i></i><span>您已成功激活</span>
            </div>
            {/if}

            <div class="ui-footer ui-footer-stable ui-border-t">
                <button class="ui-btn-lg ui-btn-primary" {if condition="$data.active == 1"}disabled=""{/if}>
                    {if condition="$data.active == 0"}
                        发送激活邮件
                    {else /}
                        已激活
                    {/if}
                </button>
            </div>
        </section>
        <div class="ui-loading-block">
            <div class="ui-loading-cnt">
                <i class="ui-loading-bright"></i>
                <p>发送中...</p>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        $('.ui-btn-primary').click(function() {

            if ($('#e').val() == "") {
                e = $.tips({
                    content:'邮箱不能为空',
                    stayTime:2000,
                    type:"warn"
                });
            }

            $.ajax({
                url: '{:url('index/connect/deal')}' ,
                type: 'GET' ,
                dataType: 'json' ,
                data: { 'e' : $('#e').val() , 'type' : 'send' },
                
                beforeSend:function(){
                    $('.ui-loading-block').addClass('show');
                },
                success:function(res) {
                    if( res.code == 1){
                        s = $.tips({
                            content:res.msg,
                            stayTime:2000,
                            type:"success"
                        });
                        $('.ui-btn-primary').attr('disabled','');
                    } else {
                         e = $.tips({
                            content:res.msg,
                            stayTime:2000,
                            type:"warn"
                        });
                    }

                    $('.ui-loading-block').removeClass('show');
                },
                error:function(msg) {
                    $('.ui-loading-block').removeClass('show');

                    e = $.tips({
                        content:'加载出错',
                        stayTime:2000,
                        type:"warn"
                    });
                },
            })
        });
    </script>
</html>