<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>全国免流VPN服务</title>
        <link rel="stylesheet" href="/static/css/frozen.css">
        <link rel="stylesheet" href="/static/css/vip.css">
        <script src="/static/lib/zepto.min.js"></script>
        <script src="/static/js/frozen.js"></script>

    </head>

    <body ontouchstart>

        <header class="ui-header ui-header-stable ui-border-b">
            <i class="ui-icon-return" style="float: left;" onclick="history.back()"></i>
            <h1>代理VIP</h1>
        </header>
        {if condition="$user['power'] == 0"}
        <section class="ui-notice">

            <div class="ui-tips ui-tips-warn">
                <i></i><span>你当前是普通客户，可享受常规的销售价格。可联系管理员，成为代理客户！</span>
            </div>

        </section>
        {else /}
        <section class="ui-container">

        </section>
        {/if}

    </body>
</html>