<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="white" />
        <title>异云流量</title>
        <meta itemprop="name" content="异云" />
        <meta name="description" itemprop="description"  content="异云(xtype.cn)，用一种特殊的方式上网！" />
        <meta name="apple-mobile-web-app-title" content="异云管理">
        <meta name="author" contect="xtype, 792598794@qq.com" />
        <link rel="apple-touch-icon-precomposed" href="/static/img/logo.png" />
        <link rel="apple-touch-startup-image" href="/static/img/start.png" />
        <link rel="stylesheet" href="/static/css/frozen.css">
        <link rel="stylesheet" href="/static/css/vip.css">
        <script src="/static/lib/zepto.min.js"></script>
        <script src="/static/js/frozen.js"></script>

    </head>

    <body ontouchstart>

        <header class="ui-header ui-header-positive ui-border-b">
            <i class="ui-icon-return" style="float: left;" onclick="history.back()"></i>
            <h1>记录详情</h1>
        </header>
        {if condition="empty($log)"}
        <section class="ui-notice">

            <div class="ui-tips ui-tips-warn">
                <i></i><span>提取错误</span>
            </div>

        </section>
        {else /}
        <section class="ui-container">
            <ul class="ui-list ui-list-text ui-border-tb" style="margin-top:20px;">
                <li class="ui-border-t">
                    <h4 class="ui-nowrap">用户名</h4>
                    <div class="ui-txt-info">{$log.username}</div>
                </li>
                <li class="ui-border-t">
                    <h4 class="ui-nowrap">开始时间</h4>
                    <div class="ui-txt-info">{$log.start_time}</div>
                </li>
                <li class="ui-border-t">
                    <h4 class="ui-nowrap">持续到</h4>
                    <div class="ui-txt-info">{$log.end_time}</div>
                </li>
                <li class="ui-border-t">
                    <h4 class="ui-nowrap">下载</h4>
                    <div class="ui-txt-info">{:round($log.bytes_sent/1048576,2)}M</div>
                </li>
                <li class="ui-border-t">
                    <h4 class="ui-nowrap">上传</h4>
                    <div class="ui-txt-info">{:round($log.bytes_received/1048576,2)}M</div>
                </li>
                <li class="ui-border-t">
                    <h4 class="ui-nowrap">所用服务器</h4>
                    <div class="ui-txt-info">{$log.type}</div>
                </li>
            </ul>

            <div class="ui-btn-wrap">
                <button class="ui-btn-lg ui-btn-danger" disabled="">
                    强制下线
                </button>
            </div>
        </section>
        {/if}

    </body>
</html>